/**
 * @name Solarized-Lite
 * @author Tropical#4355 & Gibbu#1211
 * @version 1.3
 * @description An optimized, consistent, and functional theme for Discord based on GitHub's design language
 * @invite TeRQEPb
 * @source https://github.com/DiscordStyles/Slate/
 * @website https://discordstyles.github.io/slate-theme/
*/

@import url('https://discordstyles.github.io/AdjustableServerWidth/base.css');
@import url('https://discordstyles.github.io/Slate/base.css');

:root {
  --accent: 38,139,210;
  --link-colour: 38,139,210;
  --server-icon-size: 40px;
  --server-icon-spacing: 5px;
  --server-container-padding: 10px;
  --base-border: #93a1a1;
  --text-normal: #657b83;
  --text-muted: #93a1a1;
  --text-focus: #586e75;
  --background: #eee8d5;
  --background-alt: #fdf6e3;
  --background-light: #eee8d5;
  --background-dark: #93a1a1;
  --background-modifier-hover: #fdf6e3;
  --background-modifier-active: #fdf6e3;
  --background-modifier-selected: #268bd2;
  --border-radius: 5px;
  --button-border-radius: 2px;
  --avatar-radius: 25px;
  --server-radius: 25px;
  --font-family-sans-serif: 'Hack';
  --font-family-monospace: 'Hack';
  --toolbar-height: 50px;
  --toolbar-text-normal: #657b83;
  --toolbar-text-muted: #93a1a1;
  --toolbar-text-focus: #586e75;
  --toolbar-background: #eee8d5;
  --toolbar-background-hover: #fdf6e3;
  --toolbar-background-active: #444d56;
  --toolbar-background-alt: #fdf6e3;
  --toolbar-border: #fdf6e3;
  --toolbar-search-background: #fdf6e3;
  --toolbar-search-border: #93a1a1;
  --sidebar-width: 217px;
  --member-height: 40px;
  --cursor: default;
  --status-green: 133,153,0;
  --status-yellow: 181,137,0;
  --status-red: 203,75,22;
  --status-purple: 108,113,196;
  --status-grey: 147,161,161;
}
